header{                      /*header*/
    width: 100%;
    background-color: rgb(22, 18, 18);
    color: antiquewhite;
    display: flex;
    align-items: center;
}

h3{
    margin-right: 80%;
}

/* Nav hamburger*/


.nav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -250px;
    background-color: #e8e8e8;
    padding-top: 60px;
    transition: right 0.5s ease;
  }
  
  /* Liens navbar */
  .nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .nav a:hover {
    color: #111;
  }
  
  .nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  
  .nav.active {
    left: 0;
  }
  
  /* Fermer le bouton */
  .nav .fermer {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
  }
  
  /* Icône burger */
  .iconHamburger  span {
    margin-right: 70%;
    display: block;
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
  }
  





#principale{          /*partie principale*/
    width: 70%;
    height: auto;
    padding-right: 20px;
    border-right: 2px solid  rgb(54, 54, 56);
    margin-left: 30px;
    font-size: 18px;
    display: flex;
}

h1{
    display: flex;
    justify-content: center;
}

#partieGauche{
    flex: 1;
}

.maj{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bolder;

}

.img1{
    height: 150px;
    width: 150px;
    float: left;
}

.img2{
    height: 200px;
    width: 200px;
    display: inline-block;
    vertical-align: right;
    
}

.metier{
    padding: 20px;
    border-bottom: 2px solid grey;
}


/*partie droite*/

#partieDroite{
    float: right;
    border-bottom: 2px solid black;
    position: relative;
    


}

ul{
    list-style-type: none;
    font-size: 30px;
    gap: 10px;
}



#liens1{
    border:rgb(22, 18, 18) solid 2px;
    border-radius: 10px;
    height: 300px;
    width: 70%;
}
#liens2{
    border:rgb(22, 18, 18) solid 2px;
    border-radius: 10px;
    height: 300px;
    width: 70%;
    margin-left: 30px;
    float: top; 
}

#partieDroite h2{
    text-align: center;

}



footer{                 /*footer*/
    width: 100%;
    height: 60px;
    background-color: rgb(54, 54, 56);
    color: white;
    display: flex;
    justify-content: center;
    justify-items:right;
}

#logoC{
    width: 10px;
    height: 10px;
    color: aliceblue;
}

#nomFooter{
    position: static;
}